# Dependencies
node_modules/

# Next.js
.next/
out/

# Environment
.env
.env.local
.env.*.local

# Vercel
.vercel

# IDE
.idea/
.vscode/
*.swp
*.swo

# Build
tsconfig.tsbuildinfo

# OS
.DS_Store
Thumbs.db

# Misc
*.rtf
*.har
